@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    padding: 0px 7%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* LOADER STYLE */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity value here */
    transition: opacity 0.85s, visibility 0.75s;
    z-index: 999999999;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #fac55b;
    border-radius: 50%;
    animation: loading 5s linear;
    /* Adjust the duration here */
}

@keyframes loading {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(5turn);
        /* Adjust the number of turns here */
    }
}

nav {
    background: #fff4f4;
    padding: 5px 7%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}

nav ul li.items:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #606c5d;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
}

nav ul li.logo {
    flex: 1;
    color: #606c5d;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: #606c5d;
    font-size: 17px;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 500;
}

nav ul li:hover a {
    color: #606c5d;
}

nav ul li i {
    font-size: 23px;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn.hide i:before {
    content: "\f00d";
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    background-color: red;
    /* Set the background color and opacity */
    z-index: 99;
    display: none;
}

.overlay.show {
    display: block;
}

/* HEADER STYLES */
#header {
    width: 100%;
    height: 100vh;
    background-color: #fff4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 7%;
    position: relative;
    overflow: hidden;
}

.header-text h1 {
    font-size: 60px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 70px;
}

.header-text h1 span {
    color: #f0a500;
}

.header-text p {
    font-size: 30px;
    font-weight: 500;
}

.header-text .p-desc p {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;
    line-height: 24px;
}

.header-text p span {
    border-bottom: 4px solid #f0a500;
}

.header-text .header-a-link a {
    text-decoration: none;
    color: white;
    background: #f0a500;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header-text .header-a-link a:hover {
    background: #fac55b;
    box-shadow: 0 0 20px #fac55b;
}

.header-img {
    margin-right: 0%;
}

.header-img {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.header-img img {
    width: 105%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.header-img img.girl {
    width: 50%;
}

.header-img:hover .shape {
    bottom: 40px;
}

.header-img:hover .girl {
    left: 45%;
}